{:tasks
 {link
  {:doc "Link dotfiles and clean broken links (--dry-run to preview)"
   :task (apply shell "bb" ".link/link.clj" *command-line-args*)}

  shell:install
  {:doc "Install missing Zsh plugins and rebuild the Zim loader"
   :task (shell "zsh -f scripts/shell-plugins.zsh install")}

  shell:update
  {:doc "Update Zsh plugins and rebuild the Zim loader"
   :task (shell "zsh -f scripts/shell-plugins.zsh update")}}}
